<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ESP32-CAM Stream</title>
    <style>
        body {
            background: rgba(0, 0, 0, 0.91);
            color: darkgrey;
            text-align: center;
        }
        h1, h2 {
            margin: 10px 0;
        }
        img {
            border: 3px solid darkgrey;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>ESP32-CAM Live Stream</h1>
    <h2>Dovgal D. Project Django</h2>
    <div>
        <img id="camera-stream" src="{{ camera_url }}" width="640" height="480" alt="Live Stream">
    </div>
</body>
</html>


